*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 580px;
    height: 600px;
    /* background-color: red; */
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.arrow-left, .arrow-right {
    width: 40px;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 500px;
    height: 100%;
    background-color: black;
}

.content-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/* classe da aggiungere e togliere all'esigenza per rendere visibile o nascondere le img */

.content-box img.active {
    display: block;
}
